/* HEADER */

.home-page {
    height: 100vh;
    overflow-y: scroll;
}

.header-search {
    background-color: #f0edf5;
    border-radius: 40px;
    padding: 12px 18px;
    width: 30vw;
}

.header-search ion-icon {
    margin-right: 10px;
}

.header-search input {
    background-color: transparent;
    width: 30vw;
}

/* END HEADER */

/* Center */
.stories {
    display: flex;
    justify-content: space-between;
    height: 12rem;
    width: 5.5rem;
    gap: 0.5rem;
}

.stories .story {
    padding: 10px;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    text-align: center;
    color: white;
    font-size: 0.75rem;
    width: 100%;
    /* position: relative; */
    overflow: hidden;
}

.stories .story:nth-child(1) {
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlhShh3crYBy5XM_l6Z54cRmkFP_tN_slgIA&usqp=CAU") no-repeat center center/cover;

}

.profile-photo {
    width: 2rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;

}

.profile-photo1 {
    width: 2.9rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;

}

.create-post {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    background: white;
    padding: 10px;
    border-radius: 20px;
    /* margin-left: 10px; */
}

.create-post input[type="text"] {
    justify-self: start;
    width: 100%;
    padding-left: 2rem;
    background: transparent;
    margin-right: 1rem;
}

/* Feeds */
.feeds .feed {
    background: white;
    border-radius: 10px;
    padding: 10px;
    margin: 1rem 0;
    font-size: 0.85rem;
    line-height: 1.5;

}

.feed .head {
    display: flex;
    justify-content: space-between;
}

.feed .user {
    display: flex;
    gap: 1rem;
}

.feed .photo {
    border-radius: 20px;
    margin: 0.7rem 0;
    position: relative;
    height: 400px;
    text-align: center;
}
#post-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.feed .action-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    margin: 0.6rem;
}

.liked-by {
    display: flex
}

.liked-by a {
    margin-left: 0.5rem;
}

.liked-by span {
    width: 1.4rem;
    height: 1.4rem;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid wheat;
    margin-left: -0.6rem;
}

.liked-by span:first-child {
    margin: 0;
}

/* Right */
main .container .right {
    height: max-content;
    position: sticky;
    top: -18rem;
    bottom: 0;
}

.right .messages {
    background: white;
    border-radius: 20px;
    padding: 20px;
}

.right .messages .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.right .messages i {
    font-size: 1.3rem;
}

.search-bar {
    background-color: #f0edf5;
    border-radius: 40px;
    padding: 0.6rem 1rem;
}

.search-bar input {
    background-color: transparent;
    width: 10vw;
    margin-left: 1rem;
    color: black;
}

.right .messages .search-bar {
    margin-bottom: 1rem;
}

.right .messages .category {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.right .messages .category h6 {
    width: 100%;
    text-align: center;
    border-bottom: 4px solid lightgray;
    padding-bottom: 0.5rem;
    font-size: 0.95rem;
}

.right .messages .category .actives {
    border-color: darkblue;
}

.right .messages .message {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    align-items: start;
}

.right .messages .message-requests {
    color: blue;
}

.right .message .profile-photo1 {
    position: relative;
    overflow: visible;
}

.right .profile-photo1 img {
    border-radius: 50%;
}

.right .messages .message:last-child {
    margin: 0;
}

.right .messages .message span {
    font-size: 0.8rem;
}

.text-bolb {
    font-weight: 500;
}

.right .messages .message .profile-photo1 .actives {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    border: 3px solid white;
    background: green;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* request */
.right .friend-requests {
    margin-top: 1rem;
}

.right .friend-requests h5 {
    color: gray;
    margin: 1rem 0;
}

.right .request {
    background: white;
    padding: 0.6rem 1rem;
    border-radius: 20px;
    margin-bottom: 0.7rem;
}

.right .request .info {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.right .request .action {
    display: flex;
    gap: 1rem;
}

/* nav-item */
.navbar-item:hover {
    background-color: #f0edf5;
}

/* notification - popup */

.notification-popup {
    max-height: 400px;
    overflow-y: scroll;
}

.test::before {
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    display: block;
    background-color: #fff;
    position: absolute;
    left: -0.6rem;
    transform: rotate(45deg);
    top: 23px;
}

.notification-popup-item {
    cursor: pointer;
    padding: 5px;
}

.notification-popup > .notification-popup-item:hover {
    background-color: #f0edf5;
}

.navbar-item ion-icon {
    font-size: xx-large;
}

.not-read {
    width: 10px;
    height: 10px;
    background-color: #7261dd;
    border-radius: 50%;
}

.read {
    opacity: 0.8;
    font-weight: 350;
}



.edit {
    cursor: pointer;
}

.post-option {
    text-align: center;
    padding: 0;
    margin: 0;
}

.post-option li {
    padding: 5px;
}

.post-option li:first-child {
    color: #fd2965;
}

.post-option li:hover {
    background-color: #f6f6f6;
    border-radius: 10px;
    cursor: pointer;
}

.modal-body {
    padding: 0;
}


.story-container {
    display: flex;
    overflow: auto;
}

.story-item {
    width: 140px;
    height: 250px;
    border-radius: 10px;
    position: relative;
    margin-right: 20px;
    cursor: pointer;
    background-color: gray;
    overflow: hidden;
}

.story-item img:last-child{
    border-radius: 10px;
}

.story-background{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.avatar-story {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    left: 5px;
    margin-left: 10px;
}

.story-name{
    position: absolute;
    bottom: 0;
    color: white;
    font-weight: bold;
    left: 10px;
    font-size: 14px;
}

/* //// */
.header-search {
    position: relative;
  }
  
  #myMenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #f0edf5;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0;
    margin: 5px 0;
    list-style-type: none;
    border-radius: 20px;
    max-height: 300px; /* Đặt chiều cao tối đa */
  overflow-y: auto; /* Tạo thanh cuộn khi vượt quá chiều cao tối đa */
  }
  
  #myMenu li {
    padding: 8px 16px;
    cursor: pointer;
  }
  
  #myMenu li:hover {
    background-color: #f5f5f5;
    border-radius: 20px;
  }
  
  #myMenu li a {
    color: black;
    text-decoration: none;
  }
  
  #myMenu li a:hover {
    text-decoration: underline;
  }
  .search-result {
    display: flex;
    align-items: center;
  }
  
  .profile-photo3 {
    margin-right: 10px;
    width: 2.4rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
        
  }
  
  .search-text {
    font-weight: bold;
  }
