@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');

:root{
  --main-color: linear-gradient(30deg, #fd297b , #ff655b);
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
}

body {
  background-color: #f0edf5!important;
}

.bg-white {
  background-color: white!important;
}

.pointer {
  cursor: pointer;
}

.avatar {
  width: 40px;
  height: 40px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 50%;
}

.avatar > img {
  width: 100%;
  height: auto;
}

.circle {
  border-radius: 20px;
}

.headerContainer{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.header-dropdown {
  padding: 0!important;
  margin: 0!important;
  background-color: #fff!important;
  border: none!important;
}

.header-dropdown::after {
  display: none!important;
}

.header-dropdown:focus-visible {
  box-shadow: none!important;
}

.message-not-read {
  font-weight: 500;
}

#caro .carousel-inner {
  height: 100%;
}